.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightcoral;
  height: 50px;
  align-items: center;
  z-index: 9;
}

#findUs {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

#time {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  left: 50%;
  right: 50%;
}

#time div {
  margin-right: 10px;
}

#charList {
  margin-right: 20px;
}

#img {
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.charsLeft {
  background-color: yellow;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.charsList {
  margin-top: 150px;
  position: relative;
  z-index: 999;
}

.charsList ul {
  list-style-type: none;
  background-color: rgba(240, 128, 128);
  border-radius: 5px;
}

.logos {
  width: 50px;
  height: 50px;
}
